body {
     margin: 0;
     padding: 0;
}

.logoimg {
     height: 10%;
     width: auto;
     position: absolute;
     top: 0;
     left: 0;


}

.header-fixed {
     padding: 30px 40px;
     height: 80px;
     color: #ffffff;
     box-sizing: border-box;
     top: -100px;
}

.header-fixed .header-limiter {
     overflow: hidden;
     max-width: 1500px;
     text-align: center;
     margin: 0 auto;
}

.header-fixed-placeholder {
     height: 70px;
     display: none;
}


.header-fixed .header-limiter h1 {
     float: left;
     line-height: 20px;
     margin: 0;
}

.header-fixed .header-limiter h1 span {
     color: #5383d3;
}


.header-fixed .header-limiter a {
     color: #ffffff;
     text-decoration: none;

}

.header-fixed .header-limiter nav {
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     line-height: 40px;
     text-align: center;
     font-size: 0.9em;
}

.header-fixed .header-limiter nav a {
     display: inline-block;
     padding-right: 3%;
     text-decoration: none;
     color: #ffffff;
     opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
     opacity: 1;
     color: #d86621
}

.header-fixed .header-limiter nav a.selected {
     color: #608bd2;
     pointer-events: none;
     opacity: 1;
}

body.fixed .header-fixed {
     padding: 10px 40px;
     height: 50px;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 1;
}


body.fixed .header-fixed .header-limiter nav {
     line-height: 28px;
     font-size: 0.5em;
}

.header-fixed .header-limiter .icon {
     display: none;

}

@media screen and (max-width: 685px) {
     .header-fixed .header-limiter a:not(:last-child) {
          display: none;
     }
     .header-fixed .header-limiter .icon {
          float: right;
          display: block;

     }
}

@media screen and (max-width: 685px) {
     .header-fixed .header-limiter .responsive {
          position: relative;
          width: 60%;
          float: right;
          background-color: #666666;
          opacity: 0.8;
     }
     .header-fixed .header-limiter .responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 1em;

     }
     .header-fixed .header-limiter .responsive a {
          float: none;
          display: block;
          text-align: center;
          font-size: 0.8em;
          opacity: 1;


     }
     input[type=text] form.example button {
          position: absolute;
          right: 50%;
     }
}



input[type=text] {
     position: absolute;
     right: 5%;
     top: 0;
     padding: 5px;
     font-size: 12px;
     border: none;
     float: right;
     width: 20%;
     text-align: right;
     background: black;
     color: white;
     border: 1px black solid;
}

form.example button {
     position: absolute;
     right: 0;
     top: 0;
     width: 5%;
     padding: 5px;
     background: #666666;
     color: black;
     font-size: 0.8em;
     cursor: pointer;
     color: white;
     border: none;
}

form.example button:hover {
     background-color: #d86621;
}

form.example::after {
     content: "";
     clear: both;
     display: table;
     background: black;
     color: black;
}
