body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
}

.kat-splash {
    width: 100%;
    height: 400px;
    background-color: grey;
    border-bottom-right-radius: 90% 90%;
    transform-origin: top right;
    transform: skewY(8deg);
    z-index: -99;
    position: relative;
    background-image: url("imgs/video+film/_DSC0027.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 992px) {
    .fgrid-conainer {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;


    }

}

@media only screen and (max-width: 600px) {
    .fgrid-conainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-top: -150px;

    }
    .fgrid-1 {
        grid-template-columns: auto;
        grid-template-rows: auto;

    }
}

@media only screen and (max-width: 1200px) {
    .grid-conainer {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .grid-1-lev {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    .grid-2-lev {
        padding-bottom: 10%;
        padding-left: 10%;
    }
}


@media only screen and (max-width: 600px) {
    .grid-conainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-top: -150px;

    }
    .grid-1-lev {
        grid-template-columns: auto;
        grid-template-rows: auto;

    }
    .grid-2-lev {
        padding-bottom: 10%;
        padding-left: 10%;

    }
}

img {
    width: 100%;
}


#modal {

    width: 100vw;

    height: 100vh;

    position: fixed;

    top: 80px;

    left: 0;

    background-color: rgba(0, 0, 0, .7);

    text-align: center;

    display: none;

    transition: all 1s;

    z-index: 300;

}



#modal-content {

    width: 90vw;

    height: 90vh;

    background-color: rgba(245, 245, 220, 1);

    margin: auto;

}



#modal.vis {

    display: block;

    opacity: 1;

    pointer-events: all;

}

.modal-billede {

    height: 260px;

    max-width: 350px;

    object-fit: cover;

}

@media only screen and (min-width: 50em) {
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
        margin-left: 140px;
        margin-right: 20px;
    }
    nav {
        margin-bottom: 2.5rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        line-height: 40px;
        text-align: center;
    }
    button {
        font-size: 0.9em;
    }
    button:hover {
        opacity: 1;
        color: #d86521;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
    }
    img {
        max-width: 300px;
        max-height: 300px;
        border: none;
        cursor: pointer;
    }

}
