body {
     margin: 0;
     padding: 0;
     background-color: white;
     font-family: 'Roboto', sans-serif;
     font-family: 'PT Sans', sans-serif;
     max-width: 100%;
}

#vid-splash {
     width: 100%;
     height: auto;
}

.overlay_tekst h1 {
     position: absolute;
     top: 30%;
     left: 0;
     text-align: center;
     display: block;
     width: 100%;
     font-size: 5rem;
     color: #d86621;

}

.grid-content-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
}

.grid-item-1 {
     grid-column-start: 1;
     grid-column-end: 4;
     padding-left: 30%;
     padding-right: 10%;
     margin-top: -300px;
     background-color: #fff;
     padding-top: 15%;
     padding-bottom: 15%;
     z-index: 1;
}

.grid-item-1 h1 {
     color: #666666;
}


.grid-item-2 {
     grid-column-start: 4;
     grid-column-end: 5;
     grid-row-start: 1;
     background-color: #fff;
     margin-top: -300px;
     padding-top: 30%;
     z-index: 1;
}

.grid-item-2 img {
     padding-right: 80px;
     width: 450px;
}

.grid-item-3 {
     grid-column-start: 1;
     grid-column-end: 5;
     padding-left: 20%;
     padding-right: 20%;
     text-align: center;
     height: 100%;
     padding-bottom: 20%;
     color: white;


}

.grid-item-3 h1 {
     padding-top: 30%;
     color: white;
}


#grid-3-bg {
     position: absolute;
     right: 0;
     top: 50;
     width: 100%;
     z-index: -100;
     opacity: 0.8;

}


.kontakt-but {
     background-color: #fff;
     border: none;
     color: black;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin: 20px 20px;
     cursor: pointer;
     font-family: 'PT Sans', sans-serif;

}

.kontakt-but:hover {
     background-color: #d86621;
}


.udvalg-but {
     background-color: #fff;
     border: none;
     color: black;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin: 20px 20px;
     cursor: pointer;
     font-family: 'PT Sans', sans-serif;
}

.udvalg-but:hover {
     background-color: #d86621;
}

.grid-item-4 {
     display: grid;
     grid-column-start: 1;
     grid-column-end: 5;
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 5%;
     margin-top: 10%;
     text-align: center;
     background-color: beige;
}

#proc-h1 {
     text-align: center;
     grid-column-start: 2;
     padding-bottom: 10%;
}

.grid-item-5 {
     grid-column-start: 1;
     grid-column-end: 2;
     padding-left: 10%;
     padding-right: 10%;
}

.grid-item-5 img {
     max-width: 150px;
}

.grid-item-6 img {
     max-width: 150px;
}

.grid-item-7 img {
     max-width: 150px;
}

.grid-item-6 {

     grid-column-start: 2;
     grid-column-end: 3;
     padding-left: 10%;
     padding-right: 10%;
}

.grid-item-7 {

     grid-column-start: 3;
     grid-column-end: 4;
     padding-left: 10%;
     padding-right: 10%;
}

.grid-item-8 {
     display: grid;
     grid-column-start: 1;
     grid-column-end: 5;
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 10%;
}


.grid-item-9 {
     display: grid;
     grid-column-start: 1;
}

.grid-item-10 {
     grid-column-start: 1;
     grid-column-end: 5;
     padding-left: 10%;
     padding-right: 10%;
}

.grid-item-11 {
     grid-column-start: 1;
     grid-column-end: 6;
     background-color: #d86621;

}

.grid-cont-11-1 {
     display: grid;
     grid-template-columns: auto;
     padding-left: 10%;
     padding-right: 10%;
}

.til-grid-1 {
     padding-top: 4%;
     text-align: center;
}

.til-grid-2 {
     margin-top: -15px;
     text-align: center;
     padding-bottom: 2%;
     color: #fff;

}

@media only screen and (max-width: 800px) {
     body {
          background-color: lightblue;
     }

     .grid-content-container {
          display: grid;
          grid-template-columns: auto;
          grid-auto-flow: row;
     }

}

/* Kontaktside */

.grid-conainer {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     margin-top: -250px;
}

.grid-1 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-right: 60px;
     padding-left: 60px;
     align-items: center;
}

.grid-1-1,
.grid-1-2,
.grid-1-3,
.grid-1-4 {
     text-align: center;

}

.fa-home,
.fa-at,
.fa-phone,
.fa-clock {
     font-size: 36px;

}

.grid-2 {

     justify-self: center;
}

/* finansering */

.fgrid-conainer {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     margin-top: -250px;
}

.fgrid-1 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-right: 60px;
     padding-left: 60px;
     align-items: center;
}

.fa-edit {
     color: aqua;
}

.fgrid-1-1,
.fgrid-1-2,
.fgrid-1-3,
.fgrid-1-4 {
     text-align: center;

}

.fgrid-2 {
     padding-right: 60px;
     padding-left: 60px;

}

.fgrid-2 img {
     max-width: 100%;
     height: auto;
}
